<?xml version="1.0" encoding="UTF-8"?>
<BCConfig>
    <BCList Type="Type1">
        <EnableDefaultType></EnableDefaultType>
        <BC Icon="waichabianjie.ico" Name="ExtrapolationBoundary" Chinese="外插边界条件"/>
        <BC Icon="wumianbianjie.ico" Name="WallBoundary" Chinese="物面边界条件">
            <Parameter Editable="true" Describe="壁面类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>绝热壁;等温壁</Option>
                <Chinese>绝热壁;等温壁</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="壁面温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="设置参考数据" Value="true" Chinese="" Type="Bool" Visible="true"/>
            <Parameter Editable="true" Describe="参考长度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考展长" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考面积" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考点坐标X" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考点坐标Y" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考点坐标Z" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="设置校链力矩" Value="true" Chinese="" Type="Bool" Visible="true"/>
            <Parameter Editable="true" Describe="参考轴起点坐标X" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴起点坐标Y" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴起点坐标Z" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴终点坐标X" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴终点坐标Y" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴终点坐标Z" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="duichen.ico" Name="SymmetryBoundary" Chinese="对称面边界条件"/>
        <BC Icon="yuanchangwuliang.ico" Name="FarBoundary" Chinese="远场无量纲参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="雷诺数" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="来流温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="yuanchangfeixing.ico" Name="FarFlightBoundary" Chinese="远场飞行参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="高度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,10000</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="yuanchangshiyan.ico" Name="FarExperimentBoundary" Chinese="远场试验参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="总温" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="总压" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="rukouwulianggang.ico" Name="EntranceBoundary" Chinese="入口无量纲参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="雷诺数" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="来流温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="ruchangfeixing.ico" Name="EntranceFlightBoundary" Chinese="入口飞行参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="高度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,10000</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="chukoubianjie.ico" Name="ExitBoundary" Chinese="出口边界条件"/>
        <BC Icon="jixingzhou.ico" Name="PolarAxisBoundary" Chinese="极性轴边界条件"/>
        <BC Icon="yalirukoubianjie.ico" Name="PressureImportBoundary" Chinese="压力入口边界条件">
            <Parameter Editable="true" Describe="压力入口方向" CurrentIndex="1" Chinese="" Type="Selectable" Visible="true">
                <Option>自定义方向矢量;边界面法向</Option>
                <Chinese>自定义方向矢量;边界面法向</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="总压" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="总温" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考压力" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="x方向矢量" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="y方向矢量" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="z方向矢量" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="yalichukoubianjie.ico" Name="PressureExportBoundary" Chinese="压力出口边界条件">
            <Parameter Editable="true" Describe="总压" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="总温" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考压力" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
    </BCList>
    <BCList Type="Type2">
        <EnableDefaultType></EnableDefaultType>
        <BC Icon="waichabianjie.ico" Name="ExtrapolationBoundary" Chinese="外插边界条件"/>
        <BC Icon="wumianbianjie.ico" Name="WallBoundary" Chinese="物面边界条件">
            <Parameter Editable="true" Describe="壁面类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>绝热壁;等温壁</Option>
                <Chinese>绝热壁;等温壁</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="壁面温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="设置参考数据" Value="true" Chinese="" Type="Bool" Visible="true"/>
            <Parameter Editable="true" Describe="参考长度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考展长" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考面积" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考点坐标X" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考点坐标Y" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考点坐标Z" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="设置校链力矩" Value="true" Chinese="" Type="Bool" Visible="true"/>
            <Parameter Editable="true" Describe="参考轴起点坐标X" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴起点坐标Y" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴起点坐标Z" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴终点坐标X" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴终点坐标Y" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴终点坐标Z" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="duichen.ico" Name="SymmetryBoundary" Chinese="对称面边界条件"/>
        <BC Icon="yuanchangwuliang.ico" Name="FarBoundary" Chinese="远场无量纲参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="雷诺数" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="来流温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="yuanchangfeixing.ico" Name="FarFlightBoundary" Chinese="远场飞行参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="高度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,10000</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="yuanchangshiyan.ico" Name="FarExperimentBoundary" Chinese="远场试验参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="总温" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="总压" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="rukouwulianggang.ico" Name="EntranceBoundary" Chinese="入口无量纲参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="雷诺数" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="来流温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="ruchangfeixing.ico" Name="EntranceFlightBoundary" Chinese="入口飞行参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="高度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,10000</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="chukoubianjie.ico" Name="ExitBoundary" Chinese="出口边界条件"/>
        <BC Icon="jixingzhou.ico" Name="PolarAxisBoundary" Chinese="极性轴边界条件"/>
        <BC Icon="yalirukoubianjie.ico" Name="PressureImportBoundary" Chinese="压力入口边界条件">
            <Parameter Editable="true" Describe="压力入口方向" CurrentIndex="1" Chinese="" Type="Selectable" Visible="true">
                <Option>自定义方向矢量;边界面法向</Option>
                <Chinese>自定义方向矢量;边界面法向</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="总压" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="总温" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考压力" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="x方向矢量" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="y方向矢量" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="z方向矢量" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="yalichukoubianjie.ico" Name="PressureExportBoundary" Chinese="压力出口边界条件">
            <Parameter Editable="true" Describe="总压" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="总温" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考压力" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
    </BCList>
    <BCList Type="Type3">
        <EnableDefaultType></EnableDefaultType>
        <BC Icon="waichabianjie.ico" Name="ExtrapolationBoundary" Chinese="外插边界条件"/>
        <BC Icon="wumianbianjie.ico" Name="WallBoundary" Chinese="物面边界条件">
            <Parameter Editable="true" Describe="壁面类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>绝热壁;等温壁</Option>
                <Chinese>绝热壁;等温壁</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="壁面温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="设置参考数据" Value="true" Chinese="" Type="Bool" Visible="true"/>
            <Parameter Editable="true" Describe="参考长度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考展长" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考面积" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考点坐标X" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考点坐标Y" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考点坐标Z" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="设置校链力矩" Value="true" Chinese="" Type="Bool" Visible="true"/>
            <Parameter Editable="true" Describe="参考轴起点坐标X" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴起点坐标Y" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴起点坐标Z" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴终点坐标X" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴终点坐标Y" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考轴终点坐标Z" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="duichen.ico" Name="SymmetryBoundary" Chinese="对称面边界条件"/>
        <BC Icon="yuanchangwuliang.ico" Name="FarBoundary" Chinese="远场无量纲参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="雷诺数" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="来流温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="yuanchangfeixing.ico" Name="FarFlightBoundary" Chinese="远场飞行参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="高度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,10000</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="yuanchangshiyan.ico" Name="FarExperimentBoundary" Chinese="远场试验参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="总温" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="总压" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="rukouwulianggang.ico" Name="EntranceBoundary" Chinese="入口无量纲参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="雷诺数" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="来流温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="ruchangfeixing.ico" Name="EntranceFlightBoundary" Chinese="入口飞行参数">
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-100,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="高度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,10000</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="chukoubianjie.ico" Name="ExitBoundary" Chinese="出口边界条件"/>
        <BC Icon="jixingzhou.ico" Name="PolarAxisBoundary" Chinese="极性轴边界条件"/>
        <BC Icon="yalirukoubianjie.ico" Name="PressureImportBoundary" Chinese="压力入口边界条件">
            <Parameter Editable="true" Describe="压力入口方向" CurrentIndex="1" Chinese="" Type="Selectable" Visible="true">
                <Option>自定义方向矢量;边界面法向</Option>
                <Chinese>自定义方向矢量;边界面法向</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="总压" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="总温" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考压力" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="x方向矢量" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="y方向矢量" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="z方向矢量" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>-1e+66,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
        <BC Icon="yalichukoubianjie.ico" Name="PressureExportBoundary" Chinese="压力出口边界条件">
            <Parameter Editable="true" Describe="总压" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="总温" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,100</Range>
                <Accuracy>6</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="参考压力" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
        </BC>
    </BCList>
</BCConfig>
