<?xml version="1.0" encoding="UTF-8"?>
<DataConfig>
    <SimlutationData TreeType="Type1"/>
    <SolverSetting TreeType="Type1"/>
    <DataBlock TreeType="Type1">
        <Block ID="1" TreeNode="GlobalSetting">
            <Parameter Editable="true" Describe="空间维数" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>二维;三维</Option>
                <Chinese>二维;三维</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="网格类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>非结构;结构</Option>
                <Chinese>非结构;结构</Chinese>
            </Parameter>
        </Block>
        <Block ID="2" TreeNode="MeshSetting">
            <Parameter Editable="true" Describe="网格格式" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>MULTI_TYPE;*.fts;*.cgns; *.dat/*.grd;*.dat/*.inp;*.cas/*.msh;Ustar, nMGLevel.in;*.fts;*.msh;</Option>
                <Chinese>MULTI_TYPE;*.fts;*.cgns; *.dat/*.grd;*.dat/*.inp;*.cas/*.msh;Ustar, nMGLevel.in;*.fts;*.msh;</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="网格单位" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>米(m);分米(dm);厘米(cm);毫米(mm);英尺(inch);英寸(foot);码(yard);</Option>
                <Chinese>米(m);分米(dm);厘米(cm);毫米(mm);英尺(inch);英寸(foot);码(yard);</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="网格方向" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>y轴向上;z轴向上</Option>
                <Chinese>y轴向上;z轴向上</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="分区方式" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>串行分区;并行分区</Option>
                <Chinese>串行分区;并行分区</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="进程数目" Value="4" Chinese="" Unit="" Type="Int" Visible="true">
                <Range>0,10000</Range>
            </Parameter>
        </Block>
        <Block ID="3" TreeNode="ControlParameter">
            <ParameterGroup Describe="来流参数" Visible="true">
                <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,100</Range>
                    <Accuracy>6</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-100,100</Range>
                    <Accuracy>6</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-100,100</Range>
                    <Accuracy>6</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="来流边界条件类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>无量纲参数;飞行参数;试验参数;亚声速边界条件参数</Option>
                    <Chinese>无量纲参数;飞行参数;试验参数;亚声速边界条件参数</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="雷诺数" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="来流温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="网格尺度" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>meter;decimeter;centimeter;millimeter;inch;foot;yard</Option>
                    <Chinese>meter;decimeter;centimeter;millimeter;inch;foot;yard</Chinese>
                </Parameter>
            </ParameterGroup>
            <ParameterGroup Describe="物理模型" Visible="true">
                <Parameter Editable="true" Describe="粘性模型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>无粘Euler方程;层流;代数湍流;一方程湍流;两方程湍流</Option>
                    <Chinese>无粘Euler方程;层流;代数湍流;一方程湍流;两方程湍流</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="粘性类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>1eq-sa;2eq-kw-menter-sst</Option>
                    <Chinese>1eq-sa;2eq-kw-menter-sst</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="DES类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>RANS;DES;DDES;IDDES</Option>
                    <Chinese>RANS;DES;DDES;IDDES</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="ROE熵修正类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>直接修正;多维修正;Harten型修正</Option>
                    <Chinese>直接修正;多维修正;Harten型修正</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="ROE熵修正系数" Value="1.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-1e+66,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
            </ParameterGroup>
        </Block>
        <Block ID="4" TreeNode="SpatialDiscretization">
            <ParameterGroup Describe="结构网格对流项" Visible="true">
                <Parameter Editable="true" Describe="无粘项离散类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>vanleer;steger;hlle;roe;modifiedroe;ausm+;ausm+w;ausm+up;ausmdv;ausmpw</Option>
                    <Chinese>vanleer;steger;hlle;roe;modifiedroe;ausm+;ausm+w;ausm+up;ausmdv;ausmpw</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="限制器类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>vanalbada;vanleer;minmod;smooth;minvan;nolim</Option>
                    <Chinese>vanalbada;vanleer;minmod;smooth;minvan;nolim</Chinese>
                </Parameter>
            </ParameterGroup>
            <ParameterGroup Describe="非结构网格对流项" Visible="true">
                <Parameter Editable="true" Describe="非结构无粘项离散类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>vanleer;roe;steger;kfvs;lax_f;hlle;ausm+;ausmdv;ausm+w;ausmpw;ausmpwplus</Option>
                    <Chinese>vanleer;roe;steger;kfvs;lax_f;hlle;ausm+;ausmdv;ausm+w;ausmpw;ausmpwplus</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="非结构限制器类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>barth;vencat;vanleer;minrnod;vanalbada;smooth;nnd;lpz;1st;nolim</Option>
                    <Chinese>barth;vencat;vanleer;minrnod;vanalbada;smooth;nnd;lpz;1st;nolim</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="vancat限制器系数" Value="5.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,500</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
            </ParameterGroup>
        </Block>
        <Block ID="5" TreeNode="TimeDiscretization">
            <Parameter Editable="true" Describe="定常设置" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>定常;非定常</Option>
                <Chinese>定常;非定常</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="库朗数" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="Lusgs前后扫描步数" Value="5" Chinese="" Unit="" Type="Int" Visible="true">
                <Range>0,999999</Range>
            </Parameter>
            <Parameter Editable="true" Describe="多重网格层数" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>1;2;3;4</Option>
                <Chinese>1;2;3;4</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="流场初始化步数" Value="100" Chinese="" Unit="" Type="Int" Visible="true">
                <Range>0,999999</Range>
            </Parameter>
        </Block>
        <Block ID="6" TreeNode="PostPosition">
            <ParameterGroup Describe="基本参数" Visible="true">
                <Parameter Editable="true" Describe="流场间隔步长" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="最大迭代步数" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="流场显示步长" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="气动力输出步长" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="残差步长" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="低速预处理" Value="false" Chinese="" Type="Bool" Visible="true"/>
            </ParameterGroup>
            <ParameterGroup Describe="网格相关参数" Visible="true">
                <Parameter Editable="true" Describe="参考长度(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="参考展长(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="参考面积(㎡)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="X(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-1e+66,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="Y(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-1e+66,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="Z(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-1e+66,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
            </ParameterGroup>
        </Block>
        <Block ID="7" TreeNode="CalculationResults">
            <Parameter Editable="true" Describe="空间流场输出" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>不输出;输出</Option>
                <Chinese>不输出;输出</Chinese>
            </Parameter>
            <Parameter Editable="true" Text="results/res.dat" Describe="计算残差" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/turbres.dat" Describe="湍流残差" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/aircoef.dat" Describe="气动力系数" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/flow.dat" Describe="流场变量" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/turb.dat" Describe="湍流变量" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/tecflow.plt" Describe="流场显示1" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/wall_aircoef.dat" Describe="壁面数据" Chinese="" Type="String" Visible="true"/>
        </Block>
    </DataBlock>
    <Monitor TreeType="Type1">
        <File Name="res.dat">
            <Curve Describe="残差曲线" YVariable="averageRes" XVariable="iter"/>
        </File>
    </Monitor>
    <PostConfig TreeType="Type1">
        <Post3DFile>tecflow0_0.dat</Post3DFile>
        <Post3DNodeScalar>pressure,density,temperature</Post3DNodeScalar>
        <Post3DCellScalar></Post3DCellScalar>
        <Post3DNodeVector></Post3DNodeVector>
        <Post3DCellVector></Post3DCellVector>
    </PostConfig>
    <SimlutationData TreeType="Type2"/>
    <SolverSetting TreeType="Type2"/>
    <DataBlock TreeType="Type2">
        <Block ID="8" TreeNode="GlobalSetting">
            <Parameter Editable="true" Describe="空间维数" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>二维;三维</Option>
                <Chinese>二维;三维</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="网格类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>非结构;结构</Option>
                <Chinese>非结构;结构</Chinese>
            </Parameter>
        </Block>
        <Block ID="9" TreeNode="MeshSetting">
            <Parameter Editable="true" Describe="网格格式" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>MULTI_TYPE;*.fts;*.cgns; *.dat/*.grd;*.dat/*.inp;*.cas/*.msh;Ustar, nMGLevel.in;*.fts;*.msh;</Option>
                <Chinese>MULTI_TYPE;*.fts;*.cgns; *.dat/*.grd;*.dat/*.inp;*.cas/*.msh;Ustar, nMGLevel.in;*.fts;*.msh;</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="网格单位" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>米(m);分米(dm);厘米(cm);毫米(mm);英尺(inch);英寸(foot);码(yard);</Option>
                <Chinese>米(m);分米(dm);厘米(cm);毫米(mm);英尺(inch);英寸(foot);码(yard);</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="网格方向" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>y轴向上;z轴向上</Option>
                <Chinese>y轴向上;z轴向上</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="分区方式" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>串行分区;并行分区</Option>
                <Chinese>串行分区;并行分区</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="进程数目" Value="4" Chinese="" Unit="" Type="Int" Visible="true">
                <Range>0,10000</Range>
            </Parameter>
        </Block>
        <Block ID="10" TreeNode="ControlParameter">
            <ParameterGroup Describe="来流参数" Visible="true">
                <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,100</Range>
                    <Accuracy>6</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-100,100</Range>
                    <Accuracy>6</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-100,100</Range>
                    <Accuracy>6</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="来流边界条件类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>无量纲参数;飞行参数;试验参数;亚声速边界条件参数</Option>
                    <Chinese>无量纲参数;飞行参数;试验参数;亚声速边界条件参数</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="雷诺数" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="来流温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="网格尺度" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>meter;decimeter;centimeter;millimeter;inch;foot;yard</Option>
                    <Chinese>meter;decimeter;centimeter;millimeter;inch;foot;yard</Chinese>
                </Parameter>
            </ParameterGroup>
            <ParameterGroup Describe="物理模型" Visible="true">
                <Parameter Editable="true" Describe="粘性模型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>Euler;Lamilar; ;1eq turbulent;2eq turbulent</Option>
                    <Chinese>Euler;Lamilar; ;1eq turbulent;2eq turbulent</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="粘性类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>1eq-sa;2eq-kw-menter-sst</Option>
                    <Chinese>1eq-sa;2eq-kw-menter-sst</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="DES类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>RANS;DES;DDES;IDDES</Option>
                    <Chinese>RANS;DES;DDES;IDDES</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="ROE熵修正类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>直接修正;多维修正;Harten型修正</Option>
                    <Chinese>直接修正;多维修正;Harten型修正</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="ROE熵修正系数" Value="1.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-1e+66,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
            </ParameterGroup>
        </Block>
        <Block ID="11" TreeNode="SpatialDiscretization">
            <ParameterGroup Describe="结构网格对流项" Visible="true">
                <Parameter Editable="true" Describe="无粘项离散类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>vanleer;steger;hlle;roe;modifiedroe;ausm+;ausm+w;ausm+up;ausmdv;ausmpw</Option>
                    <Chinese>vanleer;steger;hlle;roe;modifiedroe;ausm+;ausm+w;ausm+up;ausmdv;ausmpw</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="限制器类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>vanalbada;vanleer;minmod;smooth;minvan;nolim</Option>
                    <Chinese>vanalbada;vanleer;minmod;smooth;minvan;nolim</Chinese>
                </Parameter>
            </ParameterGroup>
            <ParameterGroup Describe="非结构网格对流项" Visible="true">
                <Parameter Editable="true" Describe="非结构无粘项离散类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>vanleer;roe;steger;kfvs;lax_f;hlle;ausm+;ausmdv;ausm+w;ausmpw;ausmpwplus</Option>
                    <Chinese>vanleer;roe;steger;kfvs;lax_f;hlle;ausm+;ausmdv;ausm+w;ausmpw;ausmpwplus</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="非结构限制器类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>barth;vencat;vanleer;minrnod;vanalbada;smooth;nnd;lpz;1st;nolim</Option>
                    <Chinese>barth;vencat;vanleer;minrnod;vanalbada;smooth;nnd;lpz;1st;nolim</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="vancat限制器系数" Value="5.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,500</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
            </ParameterGroup>
        </Block>
        <Block ID="12" TreeNode="TimeDiscretization">
            <Parameter Editable="true" Describe="定常设置" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>定常;非定常</Option>
                <Chinese>定常;非定常</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="库朗数" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="Lusgs前后扫描步数" Value="5" Chinese="" Unit="" Type="Int" Visible="true">
                <Range>0,999999</Range>
            </Parameter>
            <Parameter Editable="true" Describe="多重网格层数" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>1;2;3;4</Option>
                <Chinese>1;2;3;4</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="流场初始化步数" Value="100" Chinese="" Unit="" Type="Int" Visible="true">
                <Range>0,999999</Range>
            </Parameter>
        </Block>
        <Block ID="13" TreeNode="PostPosition">
            <ParameterGroup Describe="基本参数" Visible="true">
                <Parameter Editable="true" Describe="流场间隔步长" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="最大迭代步数" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="流场显示步长" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="气动力输出步长" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="残差步长" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="低速预处理" Value="false" Chinese="" Type="Bool" Visible="true"/>
            </ParameterGroup>
            <ParameterGroup Describe="网格相关参数" Visible="true">
                <Parameter Editable="true" Describe="参考长度(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="参考展长(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="参考面积(㎡)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="X(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-1e+66,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="Y(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-1e+66,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="Z(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-1e+66,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
            </ParameterGroup>
        </Block>
        <Block ID="14" TreeNode="CalculationResults">
            <Parameter Editable="true" Describe="空间流场输出" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>不输出;输出</Option>
                <Chinese>不输出;输出</Chinese>
            </Parameter>
            <Parameter Editable="true" Text="results/res.dat" Describe="计算残差" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/turbres.dat" Describe="湍流残差" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/aircoef.dat" Describe="气动力系数" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/flow.dat" Describe="流场变量" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/turb.dat" Describe="湍流变量" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/tecflow.plt" Describe="流场显示1" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/wall_aircoef.dat" Describe="壁面数据" Chinese="" Type="String" Visible="true"/>
        </Block>
    </DataBlock>
    <Monitor TreeType="Type2">
        <File Name="res.dat">
            <Curve Describe="残差曲线" YVariable="averageRes" XVariable="iter"/>
        </File>
    </Monitor>
    <PostConfig TreeType="Type2">
        <Post3DFile>tecflow0_0.dat</Post3DFile>
        <Post3DNodeScalar>pressure,density,temperature</Post3DNodeScalar>
        <Post3DCellScalar></Post3DCellScalar>
        <Post3DNodeVector></Post3DNodeVector>
        <Post3DCellVector></Post3DCellVector>
    </PostConfig>
    <SimlutationData TreeType="Type3"/>
    <SolverSetting TreeType="Type3"/>
    <DataBlock TreeType="Type3">
        <Block ID="15" TreeNode="GlobalSetting">
            <Parameter Editable="true" Describe="空间维数" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>二维;三维</Option>
                <Chinese>二维;三维</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="网格类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>非结构;结构</Option>
                <Chinese>非结构;结构</Chinese>
            </Parameter>
        </Block>
        <Block ID="16" TreeNode="MeshSetting">
            <Parameter Editable="true" Describe="网格格式" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>MULTI_TYPE;*.fts;*.cgns; *.dat/*.grd;*.dat/*.inp;*.cas/*.msh;Ustar, nMGLevel.in;*.fts;*.msh;</Option>
                <Chinese>MULTI_TYPE;*.fts;*.cgns; *.dat/*.grd;*.dat/*.inp;*.cas/*.msh;Ustar, nMGLevel.in;*.fts;*.msh;</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="网格单位" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>米(m);分米(dm);厘米(cm);毫米(mm);英尺(inch);英寸(foot);码(yard);</Option>
                <Chinese>米(m);分米(dm);厘米(cm);毫米(mm);英尺(inch);英寸(foot);码(yard);</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="网格方向" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>y轴向上;z轴向上</Option>
                <Chinese>y轴向上;z轴向上</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="分区方式" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>串行分区;并行分区</Option>
                <Chinese>串行分区;并行分区</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="进程数目" Value="4" Chinese="" Unit="" Type="Int" Visible="true">
                <Range>0,10000</Range>
            </Parameter>
        </Block>
        <Block ID="17" TreeNode="ControlParameter">
            <ParameterGroup Describe="来流参数" Visible="true">
                <Parameter Editable="true" Describe="马赫数" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,100</Range>
                    <Accuracy>6</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="攻角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-100,100</Range>
                    <Accuracy>6</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="侧滑角" Value="0.000000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-100,100</Range>
                    <Accuracy>6</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="来流边界条件类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>无量纲参数;飞行参数;试验参数;亚声速边界条件参数</Option>
                    <Chinese>无量纲参数;飞行参数;试验参数;亚声速边界条件参数</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="雷诺数" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="来流温度" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="网格尺度" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>meter;decimeter;centimeter;millimeter;inch;foot;yard</Option>
                    <Chinese>meter;decimeter;centimeter;millimeter;inch;foot;yard</Chinese>
                </Parameter>
            </ParameterGroup>
            <ParameterGroup Describe="物理模型" Visible="true">
                <Parameter Editable="true" Describe="粘性模型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>Euler;Lamilar; ;1eq turbulent;2eq turbulent</Option>
                    <Chinese>Euler;Lamilar; ;1eq turbulent;2eq turbulent</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="粘性类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>1eq-sa;2eq-kw-menter-sst</Option>
                    <Chinese>1eq-sa;2eq-kw-menter-sst</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="DES类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>RANS;DES;DDES;IDDES</Option>
                    <Chinese>RANS;DES;DDES;IDDES</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="ROE熵修正类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>直接修正;多维修正;Harten型修正</Option>
                    <Chinese>直接修正;多维修正;Harten型修正</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="ROE熵修正系数" Value="1.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-1e+66,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
            </ParameterGroup>
        </Block>
        <Block ID="18" TreeNode="SpatialDiscretization">
            <ParameterGroup Describe="结构网格对流项" Visible="true">
                <Parameter Editable="true" Describe="无粘项离散类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>vanleer;steger;hlle;roe;modifiedroe;ausm+;ausm+w;ausm+up;ausmdv;ausmpw</Option>
                    <Chinese>vanleer;steger;hlle;roe;modifiedroe;ausm+;ausm+w;ausm+up;ausmdv;ausmpw</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="限制器类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>vanalbada;vanleer;minmod;smooth;minvan;nolim</Option>
                    <Chinese>vanalbada;vanleer;minmod;smooth;minvan;nolim</Chinese>
                </Parameter>
            </ParameterGroup>
            <ParameterGroup Describe="非结构网格对流项" Visible="true">
                <Parameter Editable="true" Describe="非结构无粘项离散类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>vanleer;roe;steger;kfvs;lax_f;hlle;ausm+;ausmdv;ausm+w;ausmpw;ausmpwplus</Option>
                    <Chinese>vanleer;roe;steger;kfvs;lax_f;hlle;ausm+;ausmdv;ausm+w;ausmpw;ausmpwplus</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="非结构限制器类型" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                    <Option>barth;vencat;vanleer;minrnod;vanalbada;smooth;nnd;lpz;1st;nolim</Option>
                    <Chinese>barth;vencat;vanleer;minrnod;vanalbada;smooth;nnd;lpz;1st;nolim</Chinese>
                </Parameter>
                <Parameter Editable="true" Describe="vancat限制器系数" Value="5.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,500</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
            </ParameterGroup>
        </Block>
        <Block ID="19" TreeNode="TimeDiscretization">
            <Parameter Editable="true" Describe="定常设置" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>定常;非定常</Option>
                <Chinese>定常;非定常</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="库朗数" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                <Range>0,1e+66</Range>
                <Accuracy>4</Accuracy>
            </Parameter>
            <Parameter Editable="true" Describe="Lusgs前后扫描步数" Value="5" Chinese="" Unit="" Type="Int" Visible="true">
                <Range>0,999999</Range>
            </Parameter>
            <Parameter Editable="true" Describe="多重网格层数" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>1;2;3;4</Option>
                <Chinese>1;2;3;4</Chinese>
            </Parameter>
            <Parameter Editable="true" Describe="流场初始化步数" Value="100" Chinese="" Unit="" Type="Int" Visible="true">
                <Range>0,999999</Range>
            </Parameter>
        </Block>
        <Block ID="20" TreeNode="PostPosition">
            <ParameterGroup Describe="基本参数" Visible="true">
                <Parameter Editable="true" Describe="流场间隔步长" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="最大迭代步数" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="流场显示步长" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="气动力输出步长" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="残差步长" Value="0" Chinese="" Unit="" Type="Int" Visible="true">
                    <Range>0,999999</Range>
                </Parameter>
                <Parameter Editable="true" Describe="低速预处理" Value="false" Chinese="" Type="Bool" Visible="true"/>
            </ParameterGroup>
            <ParameterGroup Describe="网格相关参数" Visible="true">
                <Parameter Editable="true" Describe="参考长度(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="参考展长(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="参考面积(㎡)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>0,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="X(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-1e+66,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="Y(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-1e+66,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
                <Parameter Editable="true" Describe="Z(m)" Value="0.0000" Chinese="" Unit="" Type="Double" Visible="true">
                    <Range>-1e+66,1e+66</Range>
                    <Accuracy>4</Accuracy>
                </Parameter>
            </ParameterGroup>
        </Block>
        <Block ID="21" TreeNode="CalculationResults">
            <Parameter Editable="true" Describe="空间流场输出" CurrentIndex="0" Chinese="" Type="Selectable" Visible="true">
                <Option>不输出;输出</Option>
                <Chinese>不输出;输出</Chinese>
            </Parameter>
            <Parameter Editable="true" Text="results/res.dat" Describe="计算残差" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/turbres.dat" Describe="湍流残差" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/aircoef.dat" Describe="气动力系数" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/flow.dat" Describe="流场变量" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/turb.dat" Describe="湍流变量" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/tecflow.plt" Describe="流场显示1" Chinese="" Type="String" Visible="true"/>
            <Parameter Editable="true" Text="results/wall_aircoef.dat" Describe="壁面数据" Chinese="" Type="String" Visible="true"/>
        </Block>
    </DataBlock>
    <Monitor TreeType="Type3">
        <File Name="res.dat">
            <Curve Describe="残差曲线" YVariable="averageRes" XVariable="iter"/>
        </File>
    </Monitor>
    <PostConfig TreeType="Type3">
        <Post3DFile>tecflow0_0.dat</Post3DFile>
        <Post3DNodeScalar>pressure,density,temperature</Post3DNodeScalar>
        <Post3DCellScalar></Post3DCellScalar>
        <Post3DNodeVector></Post3DNodeVector>
        <Post3DCellVector></Post3DCellVector>
    </PostConfig>
</DataConfig>
