<?xml version="1.0" encoding="UTF-8"?>
<GolbalConfig>
    <Global>
        <SoftName name="PHengLEI" Chinese="风雷软件"/>
        <Logo>logo.png</Logo>
        <Welcome>welcome.png</Welcome>
        <Version>V1.0</Version>
        <Mail></Mail>
        <Corporation>计算空气动力研究所</Corporation>
        <Describe>Memo</Describe>
        <HelpFile></HelpFile>
        <Website>http://www.cardc.cn/phenglei/</Website>
    </Global>
    <Material Enable="false"/>
    <Geometry>
        <ImportSuffix>stp;step;igs;iges;brep</ImportSuffix>
        <ExportSuffix>stp;step;igs;iges;brep</ExportSuffix>
        <CreateGeo Enable="true"/>
        <CreateSketch Enable="true"/>
        <FeatureModeling Enable="true"/>
        <FeatureOperations Enable="true"/>
        <GeometryEdit Enable="true"/>
        <CreateSet Enable="true"/>
        <MeasureDistance Enable="true"/>
    </Geometry>
    <Mesh>
        <ImportSuffix>cgns;msh;neu;stl;dat;vtk;inp</ImportSuffix>
        <ExportSuffix>vtk;neu</ExportSuffix>
        <MeshGeneration Enable="true">
            <SurfaceMesh Enable="true"/>
            <SolidMesh Enable="true"/>
            <FluidMesh Enable="false"/>
        </MeshGeneration>
        <Component Enable="true"/>
        <CheckMesh Enable="true"/>
        <FilterMesh Enable="false"/>
        <MeshModeling Enable="false"/>
    </Mesh>
    <Post Enable="true">
        <Post2D Enable="true"/>
        <Post3D Enable="true"/>
    </Post>
</GolbalConfig>
