<?xml version="1.0" encoding="UTF-8"?>
<DISO_CONFIG_FILE_1.0>
    <Solver Type="SelfDev" Name="fenglei" Transfer="none" InpFormat="PHengLEI">
        <Path>D:/Solver/PHengLEIv3d0.exe</Path>
        <Argument></Argument>
        <ProcessKey></ProcessKey>
        <Template></Template>
        <Dependence></Dependence>
    </Solver>
</DISO_CONFIG_FILE_1.0>
