<?xml version="1.0" encoding="UTF-8"?>
<Treelist>
    <Tree Name="Subsonic" Chinese="低速流动" Type="Type1">
        <ChildNode DataID="1" Text="GlobalSetting" Icon="menu_128px_1230156_easyicon.net.ico" Chinese="全局设置" Type="SimulationSettingChild">
            <Parent>Simulation Setting</Parent>
        </ChildNode>
        <ChildNode DataID="2" Text="MeshSetting" Icon="mesh.ico" Chinese="网格设置" Type="SimulationSettingChild">
            <Parent>Simulation Setting</Parent>
        </ChildNode>
        <ChildNode DataID="3" Text="ControlParameter" Icon="kongjianlisan.ico" Chinese="控制参数" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <ChildNode DataID="4" Text="SpatialDiscretization" Icon="kongjianlisan - 副本.ico" Chinese="空间离散" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <ChildNode DataID="5" Text="TimeDiscretization" Icon="shijianlisan.ico" Chinese="时间离散" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <ChildNode DataID="6" Text="PostPosition" Icon="houzhichuli.ico" Chinese="后置处理" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <ChildNode DataID="7" Text="CalculationResults" Icon="jisuanjieguo.ico" Chinese="计算结果" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <Disable></Disable>
    </Tree>
    <Tree Name="Transonic" Chinese="跨声速流动" Type="Type2">
        <ChildNode DataID="8" Text="GlobalSetting" Icon="menu_128px_1230156_easyicon.net.ico" Chinese="全局设置" Type="SimulationSettingChild">
            <Parent>Simulation Setting</Parent>
        </ChildNode>
        <ChildNode DataID="9" Text="MeshSetting" Icon="mesh.ico" Chinese="网格设置" Type="SimulationSettingChild">
            <Parent>Simulation Setting</Parent>
        </ChildNode>
        <ChildNode DataID="10" Text="ControlParameter" Icon="kongjianlisan.ico" Chinese="控制参数" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <ChildNode DataID="11" Text="SpatialDiscretization" Icon="kongjianlisan - 副本.ico" Chinese="空间离散" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <ChildNode DataID="12" Text="TimeDiscretization" Icon="shijianlisan.ico" Chinese="时间离散" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <ChildNode DataID="13" Text="PostPosition" Icon="houzhichuli.ico" Chinese="后置处理" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <ChildNode DataID="14" Text="CalculationResults" Icon="jisuanjieguo.ico" Chinese="计算结果" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <Disable></Disable>
    </Tree>
    <Tree Name="Hypersonic" Chinese="高超声速流动" Type="Type3">
        <ChildNode DataID="15" Text="GlobalSetting" Icon="menu_128px_1230156_easyicon.net.ico" Chinese="全局设置" Type="SimulationSettingChild">
            <Parent>Simulation Setting</Parent>
        </ChildNode>
        <ChildNode DataID="16" Text="MeshSetting" Icon="mesh.ico" Chinese="网格设置" Type="SimulationSettingChild">
            <Parent>Simulation Setting</Parent>
        </ChildNode>
        <ChildNode DataID="17" Text="ControlParameter" Icon="kongjianlisan.ico" Chinese="控制参数" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <ChildNode DataID="18" Text="SpatialDiscretization" Icon="kongjianlisan - 副本.ico" Chinese="空间离散" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <ChildNode DataID="19" Text="TimeDiscretization" Icon="shijianlisan.ico" Chinese="时间离散" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <ChildNode DataID="20" Text="PostPosition" Icon="houzhichuli.ico" Chinese="后置处理" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <ChildNode DataID="21" Text="CalculationResults" Icon="jisuanjieguo.ico" Chinese="计算结果" Type="SolverChild">
            <Parent>Solver Setting</Parent>
        </ChildNode>
        <Disable></Disable>
    </Tree>
</Treelist>
