<?xml version="1.0" encoding="UTF-8"?>
<BCConfig>
	<BCList Type="Type1">
		<EnableDefaultType>Pressure,Temperature,FixSupport</EnableDefaultType>
		<BC Name="userdef1" Icon="base_set.png">
			<Parameter Describe="des1" Type="Selectable" CurrentIndex="0">
				<Option>001;002;003</Option>
			</Parameter>
			<Parameter Describe="des2" Type="Selectable" CurrentIndex="0">
				<Option>004;005;006</Option>
			</Parameter>
			<Parameter Describe="Test double" Type="Double" Value="1.3256">
				<Range>-1e+66,1e+66</Range>
				<Accuracy>4</Accuracy>
			</Parameter>
		</BC>
		<BC Name="userdef2" Icon="base_set.png">
			<Parameter Describe="des2" Type="Selectable" CurrentIndex="0">
				<Option>004;005;006</Option>
			</Parameter>
			<Parameter Describe="Test double" Type="Double" Value="111.3256">
				<Range>-1e+66,1e+66</Range>
				<Accuracy>4</Accuracy>
			</Parameter>
			<Parameter Describe="Test double2" Type="Double" Value="222.3256">
				<Range>-1e+66,1e+66</Range>
				<Accuracy>4</Accuracy>
			</Parameter>
		</BC>
		<BC Name="userdef3" Icon="base_set.png">
			<Parameter Describe="des2" Type="Selectable" CurrentIndex="0">
				<Option>004;005;006</Option>
			</Parameter>
			<Parameter Describe="Test double2" Type="Double" Value="222.3256">
				<Range>-1e+66,1e+66</Range>
				<Accuracy>4</Accuracy>
			</Parameter>
		</BC>
	</BCList>
</BCConfig>