<?xml version="1.0" encoding="UTF-8"?>
<DataConfig>
	<SimlutationData TreeType="Type1">
		<Parameter Value="true" Describe="Test Bool" Type="Bool"/>
        <Parameter Value="3" Describe="Test int" Type="Int">
            <Range>-1000000,1000000</Range>
        </Parameter>
        <Parameter Value="1.3256" Describe="Test double" Type="Double">
            <Range>-1e+66,1e+66</Range>
            <Accuracy>4</Accuracy>
        </Parameter>
        <Parameter CurrentIndex="0" Describe="select test" Type="Selectable">
            <Option>001;002;003</Option>
        </Parameter>
	</SimlutationData>
	<SolverSetting TreeType="Type1">
		<Parameter Text="string" Describe="String Test" Type="String"/>
         <Parameter Describe="Path test" Type="Path" Suffix="H(*.h)">
             <Type>FileList</Type>
             <Text></Text>
         </Parameter>
         <Parameter Describe="Table test" Type="Table">
             <Title>t1;t2;</Title>
             <Number>5,3</Number>
             <Data>1.2,0,0</Data>
             <Data>0,0,0</Data>
             <Data>0,0,0</Data>
             <Data>0,0,0</Data>
             <Data>0,0,0</Data>
         </Parameter>
	</SolverSetting>
	<DataBlock TreeType="Type1">
		<Block ID="1">
			<Parameter Text="string" Describe="String Test" Type="String"/>
			<Parameter Value="true" Describe="Test Bool" Type="Bool"/>
		</Block>
		<Block ID="2">
			<Parameter Text="string" Describe="String Test" Type="String"/>
			<Parameter Describe="Path test" Type="Path" Suffix="H(*.h)">
				<Type>FileList</Type>
				<Text></Text>
			</Parameter>
		</Block>
	</DataBlock>
	<Monitor TreeType="Type1" FileName="11.dat,22.dat">
		<Curve Describe="C1" XVariable="time" YVariable="F11/(ρ*g*v*K*Am)"/>
		<Curve Describe="C2" XVariable="time" YVariable="F13/(ρ*g*v*K*Am)"/>
		<Curve Describe="C3" XVariable="x" YVariable="y"/>
	</Monitor>
	<PostConfig TreeType="Type1">
		<Post2DFile>11.dat</Post2DFile>
		<Post2DCurves>
			<Curve Describe="PC1" XVariable="time" YVariable="F11/(ρ*g*v*K*Am)"/>
			<Curve Describe="PC2" XVariable="time" YVariable="F13/(ρ*g*v*K*Am)"/>
		</Post2DCurves>
		<Post3DFile>test6.cgns</Post3DFile> 
		<Post3DNodeScalar>VelocityXN,VelocityYN,VelocityZN</Post3DNodeScalar>
		<Post3DCellScalar>VelocityX,VelocityY,VelocityZ</Post3DCellScalar>
		<Post3DNodeVector>pvn,tvn,svn</Post3DNodeVector>
		<Post3DCellVector>pv,tv,sv</Post3DCellVector>
	</PostConfig>
</DataConfig>