<?xml version="1.0" encoding="UTF-8"?>
<GolbalConfig>
	<Global>
		<SoftName name="FastCAE" Chinese="FastCAE"/>
		<Corporation>青岛数智船海科技有限公司</Corporation>
		<Website>www.diso.cn</Website>
	</Global>
	<Geometry Enable="true">
		<ImportGeo Enable="true">
			<Suffix>IGS(*.igs);;IGES(*.iges);;STP(*.stp);;STEP(*.step);;STL(*stl)</Suffix>
		</ImportGeo>
		<CreateGeo Enable="false"/>
	</Geometry>
	<Mesh Enable="true">
		<ImportMesh Enable="true">
			<Suffix>CGNS(*.cgns);;Nastran(*.bdf);;Fluent(*.msh);;Gambit(*.neu);;VTK Files(*.vtk);;STL Files(*.stl);;Tecplot(*.dat)</Suffix>
		</ImportMesh>
		<ExportMesh Enable="true">
			<Suffix>CGNS(*.cgns);;Nastran(*.bdf);;Fluent(*.msh);;Gambit(*.neu);;VTK Files(*.vtk);;STL Files(*.stl);;Tecplot(*.dat)</Suffix>
		</ExportMesh>
		<MeshGeneration Enable="true">
			<SurfaceMesh Enable="true"/>
			<SolidMesh Enable="true"/>
		</MeshGeneration>
		<Component Enable="true"/>
	</Mesh>
	<Post Enable="true">
		<Post2D Enable="true"/>
		<Post3D Enable="true"/>
	</Post>
</GolbalConfig> 
