<?xml version="1.0" encoding="UTF-8"?>
<TreeList>
	<Tree Name="OpenFoam" Type="Type1" Chinese="弄啥嘞">
		<ChildNode Text="data1" Chinese="数据1" Type="SimlutationSettingChild" Icon="base_set.png" DataID="1">
			<Parent>Simulation Setting</Parent>
		</ChildNode>
		<ChildNode Text="data2" Chinese="数据2" Type="SimlutationSettingChild" Icon="base_set.png" DataID="2">
			<Parent>Simulation Setting</Parent>
		</ChildNode>
	</Tree>
</TreeList>